body {
    background-color: black;
    margin: 0px auto;
    text-align: center;
    color: white;
}



#header-title {
    font-size: 60px;
    font-weight: bold;
    border: 2px solid white;
    width: 550px;
    margin: 0px auto;
}

#game-score{
    padding: 20px;
    font-size: 30px;
    font-weight: normal;
    border: 2px solid white;
    width: 510px;
    height: 40px;
    margin: 0px auto;
    margin-top: 5px;
}

#correct {
    float: left;
    margin-left: 75px;
}

#incorrect {
    float: right;
    margin-right: 75px;
}

#question-timer {
    padding: 20px;
    font-size: 30px;
    font-weight: normal;
    border: 2px solid white;
    width: 510px;
    height: 40px;
    margin: 0px auto;
    margin-top: 5px;
}

#question-element {
    padding: 20px;
    font-size: 30px;
    font-weight: normal;
    border: 2px solid white;
    width: 510px;
    height: 70px;
    margin: 0px auto;
    margin-top: 5px;
}

#answer-area {
    padding: 20px;
    font-size: 30px;
    font-weight: normal;
    border: 2px solid white;
    width: 510px;
    height: 120px;
    margin: 0px auto;
    margin-top: 5px;
    text-align: center;
}

#button-area {
    padding: 20px;
    font-size: 30px;
    font-weight: normal;
    border: 2px solid white;
    width: 510px;
    height: 40px;
    margin: 0px auto;
    margin-top: 5px;
}

button {
    width: 80px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}